@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

 * {
    box-sizing: border-box;
    font-family: 'Amatic SC', sans-serif;
  }
  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .whiteboard {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
  
.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eee;
    width: 100%;
}
.header-title {
    margin: 8px;
    font-size: 3rem;
}
.colors {
    display: flex;
    justify-content:center;
    align-items:center;
}
.color {
    height: 48px;
    width: 48px;
    margin: 8px;
    border-radius: 24px;
}
  
  .color.black { background-color: black; }
  .color.red { background-color: red; }
  .color.green { background-color: green; }
  .color.blue { background-color: blue; }
  .color.yellow { background-color: yellow; }